:root {
    font-size: 62.5%;
    --background-color: #2D2D2D;
    --contrast: #00D5E4;
}


html {
    box-sizing: border-box;
    max-width: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    background-color: var(--background-color);
}

.wrapper {
    max-width: 95%;
    margin: 0 auto;
    padding-inline: 1em;
    margin-bottom: 6rem;
}

.flex-head {
    display: flex;
    justify-content: space-around;
    border: 0;
    border-bottom: 1px solid #575555;
}

.logo-img {
    width: 7.3rem;
    height: 4.3rem;;
}

.main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.zag {
    font-size: 3rem;
    font-weight: 900;
    color:white;
    text-align: left;
}

.podzag {
    width:100%;
}

.opis {
    display:inline;
    font-size: 1.6rem;
    color: white;
}

.contrast-text {
    color: #00D5E4;
    font-weight: 900;
}

.motor {
    display: block;
    position: relative;
    margin: auto;
    width: 333px;
    height: 346px;
}

@media (max-width: 850px){
    .menu-btn {
        background-image: url(../imgs/menu.webp);
        width: 4.5rem;
        height: 4.5rem;
        background-size: cover;
        outline: none;
        border-style: none;
    }
    .flex-menu {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
}

@media (min-width: 850px){
    .menu-btn {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .flex-menu {
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: space-between;
    }

    .menu-elem {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 1.6rem;
    }

}

@media (min-width: 1460px){
    .zag {
        font-size: 4.5rem;
        margin-top: 248px;
        max-width: 821px;
    }

    .opis {
        font-size: 2.4rem;
        max-width: 645px;
    }

    .motor {
        display: block;
        position: absolute;
        left: 50%;
        width: 811px;
        height: 842px;
    }

    .wrapper {
        max-width: 1430px;
        margin: 0 auto;
        padding-inline: 1em;
        margin-bottom: 6rem;
    }
}

.hline:after { 
    width:100%; 
    height:1px; 
    background: #fff; 
    content:"" }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}